In [1]:
import pandas as pd
import numpy as np
import missingno as msno

## Data Cleaning

In [2]:
# Load CSVs
df_latest = pd.read_csv('../data/raw/latest_all.csv').drop(columns='Unnamed: 0')
df_school = pd.read_csv('../data/raw/latest_school.csv').drop(columns='Unnamed: 0')
df_student = pd.read_csv('../data/raw/latest_student.csv').drop(columns='Unnamed: 0')
df_cost = pd.read_csv('../data/raw/latest_cost.csv').drop(columns='Unnamed: 0')
df_aid_admit = pd.read_csv('../data/raw/latest_aid_admit.csv').drop(columns='Unnamed: 0')
df_academics = pd.read_csv('../data/raw/latest_academics.csv').drop(columns='Unnamed: 0')

In [3]:
df_latest.head()

,id,latest.school.name,latest.school.city,latest.school.state,latest.school.zip,latest.school.accreditor,latest.school.school_url,latest.school.price_calculator_url,latest.school.degrees_awarded.predominant_recoded,latest.school.degrees_awarded.predominant,...,latest.academics.program.degree_or_certificate.public_administration_social_service,latest.academics.program.degree_or_certificate.social_science,latest.academics.program.degree_or_certificate.construction,latest.academics.program.degree_or_certificate.mechanic_repair_technology,latest.academics.program.degree_or_certificate.precision_production,latest.academics.program.degree_or_certificate.transportation,latest.academics.program.degree_or_certificate.visual_performing,latest.academics.program.degree_or_certificate.health,latest.academics.program.degree_or_certificate.business_marketing,latest.academics.program.degree_or_certificate.history
0,100654,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,3.0,3,...,1,1,0,0,0,0,1,0,1,0
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,3.0,3,...,1,2,0,0,0,0,1,1,1,1
2,100706,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,3.0,3,...,0,1,0,0,0,0,1,1,1,1
3,100724,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,3.0,3,...,1,1,0,0,0,0,1,1,1,1
4,100751,The University of Alabama,Tuscaloosa,AL,35487-0100,Southern Association of Colleges and Schools C...,www.ua.edu/,financialaid.ua.edu/net-price-calculator/,3.0,3,...,1,1,0,0,0,0,1,1,1,1

In [4]:
df_school.head()

,id,latest.school.name,latest.school.city,latest.school.state,latest.school.zip,latest.school.accreditor,latest.school.school_url,latest.school.price_calculator_url,latest.school.degrees_awarded.predominant_recoded,latest.school.degrees_awarded.predominant,...,latest.school.institutional_characteristics.level,latest.school.open_admissions_policy,latest.school.accreditor_code,latest.school.title_iv.approval_date,latest.school.title_iv.eligibility_type,latest.school.ownership_peps,latest.school.endowment.begin,latest.school.endowment.end,latest.school.dolflag,latest.school.search
0,100654,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,3.0,3,...,1,2.0,SACSCC,12/12/1965,1,1.0,NaN,NaN,0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,3.0,3,...,1,2.0,SACSCC,12/1/1965,1,1.0,537349307.0,539858544.0,0,NaN
2,100706,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,3.0,3,...,1,2.0,SACSCC,12/1/1965,1,1.0,77250279.0,75837207.0,1,NaN
3,100724,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,3.0,3,...,1,2.0,SACSCC,12/1/1965,1,1.0,94536751.0,111315175.0,0,NaN
4,100751,The University of Alabama,Tuscaloosa,AL,35487-0100,Southern Association of Colleges and Schools C...,www.ua.edu/,financialaid.ua.edu/net-price-calculator/,3.0,3,...,1,2.0,SACSCC,12/1/1965,1,1.0,946690144.0,939393269.0,1,NaN

In [5]:
df_student.head()

,id,latest.completion.consumer_rate,latest.student.size,latest.student.enrollment.all,latest.student.enrollment.undergrad_12_month,latest.student.enrollment.grad_12_month,latest.student.demographics.race_ethnicity.white,latest.student.demographics.race_ethnicity.black,latest.student.demographics.race_ethnicity.hispanic,latest.student.demographics.race_ethnicity.asian,...,latest.student.students_with_pell_grant,latest.student.undergrads_with_pell_grant_or_federal_student_loan,latest.student.undergrads_non_degree_seeking,latest.student.grad_students,latest.student.retention_rate_suppressed.four_year.full_time_pooled,latest.student.retention_rate_suppressed.four_year.part_time_pooled,latest.student.retention_rate_suppressed.lt_four_year.full_time_pooled,latest.student.retention_rate_suppressed.lt_four_year.part_time_pooled,latest.student.ftft_undergrads_with_pell_grant_or_federal_student_loan,latest.student.ftft_undergrads_with_pell_grant_or_federal_student_loan_pooled
0,100654,0.3098,5090.0,NaN,5479.0,1081.0,0.0159,0.9022,0.0116,0.0012,...,0.852793,5273.0,3.0,884.0,0.5533,0.2830,NaN,NaN,1688.0,3090.0
1,100663,0.5615,13549.0,NaN,14969.0,10874.0,0.5496,0.2401,0.0610,0.0704,...,0.624930,13836.0,329.0,8685.0,0.8477,0.5417,NaN,NaN,2304.0,4549.0
2,100706,0.5362,7825.0,NaN,8898.0,2414.0,0.7173,0.0907,0.0599,0.0354,...,0.557137,7987.0,202.0,1972.0,0.8234,0.2059,NaN,NaN,1489.0,2917.0
3,100724,0.3196,3603.0,NaN,4127.0,513.0,0.0167,0.9265,0.0130,0.0019,...,0.874601,3750.0,11.0,458.0,0.6164,0.2500,NaN,NaN,1000.0,2025.0
4,100751,0.6758,30610.0,NaN,35872.0,6224.0,0.7695,0.1024,0.0512,0.0131,...,0.452632,32795.0,1060.0,6170.0,0.8708,0.5246,NaN,NaN,6734.0,13366.0

In [6]:
df_cost.head()

,id,latest.cost.avg_net_price,latest.cost.avg_net_price.overall,latest.cost.avg_net_price.consumer.median_by_pred_degree,latest.cost.avg_net_price.consumer.overall_median,latest.cost.attendance.academic_year,latest.cost.tuition.in_state,latest.cost.tuition.out_of_state,latest.cost.booksupply,latest.cost.net_price.by_income_level.0-30000,...,latest.cost.title_iv.by_income_level.0-30000,latest.cost.title_iv.by_income_level.30001-48000,latest.cost.title_iv.by_income_level.48001-75000,latest.cost.title_iv.by_income_level.75001-110000,latest.cost.title_iv.by_income_level.110001-plus,latest.cost.roomboard.oncampus,latest.cost.roomboard.offcampus,latest.cost.otherexpense.oncampus,latest.cost.otherexpense.offcampus,latest.cost.otherexpense.withfamily
0,100654,15529.0,15529.0,19525.5,15950.5,23445.0,10024.0,18634.0,1600.0,14694.0,...,420.0,135.0,76.0,33.0,26.0,9240.0,9240.0,3090.0,3090.0,3440.0
1,100663,16530.0,16530.0,19525.5,15950.5,25542.0,8568.0,20400.0,1200.0,13443.0,...,378.0,216.0,202.0,204.0,232.0,12307.0,12307.0,5555.0,5555.0,5555.0
2,100706,17208.0,17208.0,19525.5,15950.5,24861.0,11338.0,23734.0,2200.0,13631.0,...,117.0,89.0,97.0,107.0,128.0,10652.0,10652.0,4076.0,4076.0,4076.0
3,100724,19534.0,19534.0,19525.5,15950.5,21892.0,11068.0,19396.0,1600.0,19581.0,...,326.0,121.0,38.0,17.0,6.0,6050.0,7320.0,3392.0,4228.0,4228.0
4,100751,20917.0,20917.0,19525.5,15950.5,30016.0,11620.0,31090.0,1000.0,17523.0,...,373.0,206.0,181.0,177.0,335.0,13810.0,13810.0,4620.0,4620.0,5692.0

In [7]:
df_aid_admit.head()

,id,latest.aid.pell_grant_rate,latest.aid.federal_loan_rate,latest.aid.loan_principal,latest.aid.median_debt.completers.overall,latest.aid.median_debt.completers.monthly_payments,latest.aid.median_debt.noncompleters,latest.aid.median_debt.income.0_30000,latest.aid.median_debt.income.30001_75000,latest.aid.median_debt.income.greater_than_75000,...,latest.admissions.act_scores.25th_percentile.writing,latest.admissions.act_scores.75th_percentile.cumulative,latest.admissions.act_scores.75th_percentile.english,latest.admissions.act_scores.75th_percentile.math,latest.admissions.act_scores.75th_percentile.writing,latest.admissions.act_scores.midpoint.cumulative,latest.admissions.act_scores.midpoint.english,latest.admissions.act_scores.midpoint.math,latest.admissions.act_scores.midpoint.writing,latest.admissions.test_requirements
0,100654,0.7095,0.7504,15250.0,31000.0,309.897388,10221.0,16000.0,15159.0,14463.0,...,NaN,20.0,20.0,18.0,NaN,18.0,17.0,17.0,NaN,1.0
1,100663,0.3397,0.4688,15085.0,22250.0,222.426351,9500.0,16219.0,15000.0,14591.0,...,NaN,30.0,33.0,27.0,NaN,26.0,28.0,24.0,NaN,1.0
2,100706,0.2403,0.3855,14000.0,21450.0,214.428999,9500.0,14126.0,14639.0,13500.0,...,NaN,31.0,33.0,29.0,NaN,28.0,29.0,26.0,NaN,1.0
3,100724,0.7368,0.7805,17500.0,31000.0,309.897388,10489.0,17827.0,15875.0,16500.0,...,NaN,20.0,20.0,20.0,NaN,17.0,17.0,17.0,NaN,1.0
4,100751,0.1718,0.3644,17671.0,23072.0,230.643630,9500.0,17500.0,18000.0,17500.0,...,7.0,31.0,33.0,29.0,8.0,27.0,28.0,25.0,8.0,1.0

In [8]:
df_academics.head()

,id,latest.academics.program_percentage.agriculture,latest.academics.program_percentage.resources,latest.academics.program_percentage.architecture,latest.academics.program_percentage.ethnic_cultural_gender,latest.academics.program_percentage.communication,latest.academics.program_percentage.communications_technology,latest.academics.program_percentage.computer,latest.academics.program_percentage.personal_culinary,latest.academics.program_percentage.education,...,latest.academics.program.degree_or_certificate.public_administration_social_service,latest.academics.program.degree_or_certificate.social_science,latest.academics.program.degree_or_certificate.construction,latest.academics.program.degree_or_certificate.mechanic_repair_technology,latest.academics.program.degree_or_certificate.precision_production,latest.academics.program.degree_or_certificate.transportation,latest.academics.program.degree_or_certificate.visual_performing,latest.academics.program.degree_or_certificate.health,latest.academics.program.degree_or_certificate.business_marketing,latest.academics.program.degree_or_certificate.history
0,100654,0.0274,0.0085,0.0051,0.0017,0.0000,0.0393,0.0342,0.0,0.0393,...,1,1,0,0,0,0,1,0,1,0
1,100663,0.0000,0.0000,0.0000,0.0022,0.0323,0.0000,0.0258,0.0,0.0577,...,1,2,0,0,0,0,1,1,1,1
2,100706,0.0000,0.0000,0.0000,0.0000,0.0155,0.0000,0.0667,0.0,0.0155,...,0,1,0,0,0,0,1,1,1,1
3,100724,0.0000,0.0000,0.0000,0.0000,0.0963,0.0000,0.0570,0.0,0.1123,...,1,1,0,0,0,0,1,1,1,1
4,100751,0.0000,0.0052,0.0000,0.0028,0.0931,0.0000,0.0140,0.0,0.0603,...,1,1,0,0,0,0,1,1,1,1

Now, we can take a look at school features from the first set of API calls, to filter out unnecessarily information like school url and price calculator, etc.

In [9]:
df_school.columns

Index(['id', 'latest.school.name', 'latest.school.city', 'latest.school.state',
       'latest.school.zip', 'latest.school.accreditor',
       'latest.school.school_url', 'latest.school.price_calculator_url',
       'latest.school.degrees_awarded.predominant_recoded',
       'latest.school.degrees_awarded.predominant',
       'latest.school.degrees_awarded.highest',
       'latest.school.under_investigation', 'latest.school.main_campus',
       'latest.school.branches', 'latest.school.ownership',
       'latest.school.state_fips', 'latest.school.region_id',
       'latest.school.locale', 'latest.school.degree_urbanization',
       'latest.school.carnegie_basic', 'latest.school.carnegie_undergrad',
       'latest.school.carnegie_size_setting',
       'latest.school.minority_serving.historically_black',
       'latest.school.minority_serving.predominantly_black',
       'latest.school.minority_serving.annh',
       'latest.school.minority_serving.tribal',
       'latest.school.minority_serving.aanipi',
       'latest.school.minority_serving.hispanic',
       'latest.school.minority_serving.nant', 'latest.school.men_only',
       'latest.school.women_only', 'latest.school.religious_affiliation',
       'latest.school.online_only', 'latest.school.operating',
       'latest.school.tuition_revenue_per_fte',
       'latest.school.instructional_expenditure_per_fte',
       'latest.school.faculty_salary', 'latest.school.ft_faculty_rate',
       'latest.school.alias',
       'latest.school.institutional_characteristics.level',
       'latest.school.open_admissions_policy', 'latest.school.accreditor_code',
       'latest.school.title_iv.approval_date',
       'latest.school.title_iv.eligibility_type',
       'latest.school.ownership_peps', 'latest.school.endowment.begin',
       'latest.school.endowment.end', 'latest.school.dolflag',
       'latest.school.search'],
      dtype='object')

We will delete 'latest.school.city', 'latest.school.state' (use FIPS instead), 'latest.school.zip', 'latest.school.accreditor' (we will use accreditor code instead), 'latest.school.school_url', 'latest.school.price_calculator_url', 'latest.school.degrees_awarded.predominant_recoded' (these recodes don't apply to universities), 'latest.school.degree_urbanization' (DISC), 'latest.school.alias', 'latest.school.ownership_peps' (redundant with other ownership column), 'latest.school.search'

In [10]:
df_latest = df_latest.drop(columns=['latest.school.city', 'latest.school.state', 'latest.school.zip', 'latest.school.accreditor', 'latest.school.school_url', 'latest.school.price_calculator_url', 'latest.school.degrees_awarded.predominant_recoded', 'latest.school.degree_urbanization', 'latest.school.alias', 'latest.school.ownership_peps', 'latest.school.search'])
df_latest.shape

(2017, 477)

Certain demographic features are discontinued (info in data dictionary included in references directory). These columns should be dropped as well.

In [11]:
# These columns represent features that are either discontinued or not relevent to 4-year colleges.
df_student.isna().sum()[df_student.isna().sum() == len(df_student)].index

Index(['latest.student.enrollment.all',
       'latest.student.demographics.race_ethnicity.white_non_hispanic',
       'latest.student.demographics.race_ethnicity.black_non_hispanic',
       'latest.student.demographics.race_ethnicity.asian_pacific_islander',
       'latest.student.demographics.race_ethnicity.aian_prior_2009',
       'latest.student.demographics.race_ethnicity.hispanic_prior_2009',
       'latest.student.demographics.race_ethnicity.unknown_2000',
       'latest.student.demographics.race_ethnicity.white_2000',
       'latest.student.demographics.race_ethnicity.black_2000',
       'latest.student.demographics.race_ethnicity.api_2000',
       'latest.student.demographics.race_ethnicity.aian_2000',
       'latest.student.demographics.race_ethnicity.hispanic_2000',
       'latest.student.demographics.non_resident_aliens_2000',
       'latest.student.demographics.age_entry_squared',
       'latest.student.demographics.avg_family_income_log',
       'latest.student.demographics.avg_family_income_independents_log',
       'latest.student.part_time_share_2000',
       'latest.student.retention_rate.lt_four_year.full_time',
       'latest.student.retention_rate.lt_four_year.part_time',
       'latest.student.retention_rate.lt_four_year.full_time_pooled',
       'latest.student.retention_rate.lt_four_year.part_time_pooled',
       'latest.student.retention_rate.cohort.lt_four_year.full_time_pooled',
       'latest.student.retention_rate.cohort.lt_four_year.part_time_pooled',
       'latest.student.fafsa_sent.overall',
       'latest.student.fafsa_sent.1_college',
       'latest.student.fafsa_sent.2_colleges',
       'latest.student.fafsa_sent.3_college',
       'latest.student.fafsa_sent.4_colleges',
       'latest.student.fafsa_sent.5_or_more_colleges',
       'latest.student.retention_rate_suppressed.lt_four_year.full_time_pooled',
       'latest.student.retention_rate_suppressed.lt_four_year.part_time_pooled'],
      dtype='object')

In [12]:
df_latest = df_latest.drop(columns=['latest.student.enrollment.all',
       'latest.student.demographics.race_ethnicity.white_non_hispanic',
       'latest.student.demographics.race_ethnicity.black_non_hispanic',
       'latest.student.demographics.race_ethnicity.asian_pacific_islander',
       'latest.student.demographics.race_ethnicity.aian_prior_2009',
       'latest.student.demographics.race_ethnicity.hispanic_prior_2009',
       'latest.student.demographics.race_ethnicity.unknown_2000',
       'latest.student.demographics.race_ethnicity.white_2000',
       'latest.student.demographics.race_ethnicity.black_2000',
       'latest.student.demographics.race_ethnicity.api_2000',
       'latest.student.demographics.race_ethnicity.aian_2000',
       'latest.student.demographics.race_ethnicity.hispanic_2000',
       'latest.student.demographics.non_resident_aliens_2000',
       'latest.student.demographics.age_entry_squared',
       'latest.student.demographics.avg_family_income_log',
       'latest.student.demographics.avg_family_income_independents_log',
       'latest.student.part_time_share_2000',
       'latest.student.retention_rate.lt_four_year.full_time',
       'latest.student.retention_rate.lt_four_year.part_time',
       'latest.student.retention_rate.lt_four_year.full_time_pooled',
       'latest.student.retention_rate.lt_four_year.part_time_pooled',
       'latest.student.retention_rate.cohort.lt_four_year.full_time_pooled',
       'latest.student.retention_rate.cohort.lt_four_year.part_time_pooled',
       'latest.student.fafsa_sent.overall',
       'latest.student.fafsa_sent.1_college',
       'latest.student.fafsa_sent.2_colleges',
       'latest.student.fafsa_sent.3_college',
       'latest.student.fafsa_sent.4_colleges',
       'latest.student.fafsa_sent.5_or_more_colleges',
       'latest.student.retention_rate_suppressed.lt_four_year.full_time_pooled',
       'latest.student.retention_rate_suppressed.lt_four_year.part_time_pooled'])
df_latest.shape

(2017, 446)

Within admissions, we will remove any column related to ACT or SAT writing, as these sections are no longer included on the test, and these features account for a high volume of missing values.

In [13]:
writing_columns = [feature for feature in df_latest.columns if 'writing' in feature]
df_latest = df_latest.drop(columns=writing_columns)
df_latest.shape

(2017, 440)

Those were the columns that were obvious to drop. Let's take a closer look where other missing values lie.

In [14]:
# Check and get a sense of where missing values lie
pd.set_option('display.max_rows',300)
df_latest.isna().sum()[df_latest.isna().sum() > 0].sort_values(ascending=False)

latest.aid.plus_debt.nostafford_any_school.eval_inst.median                      1715
latest.aid.plus_debt.stafford_any_school.eval_inst.median                        1715
latest.aid.plus_debt.nostafford_this_school.eval_inst.median                     1685
latest.aid.plus_debt.stafford_this_school.eval_inst.median                       1685
latest.aid.plus_debt.stafford_any_school.all_inst.median                         1568
latest.aid.plus_debt.nostafford_any_school.all_inst.median                       1568
latest.aid.plus_debt.stafford_any_school.eval_inst.count                         1516
latest.aid.plus_debt.nostafford_any_school.eval_inst.count                       1516
latest.aid.plus_debt.nostafford_this_school.eval_inst.count                      1445
latest.aid.plus_debt.stafford_this_school.eval_inst.count                        1445
latest.student.demographics.veteran                                              1442
latest.student.retention_rate_suppressed.four_year.part_time_pooled              1412
latest.student.share_dependent_highincome.110001plus                             1328
latest.student.share_independent_highincome.110001plus                           1328
latest.student.share_dependent_highincome.75001_110000                           1322
latest.student.share_independent_highincome.75001_110000                         1322
latest.aid.plus_debt.stafford_any_school.all_inst.count                          1319
latest.aid.plus_debt.nostafford_any_school.all_inst.count                        1319
latest.school.religious_affiliation                                              1289
latest.admissions.act_scores.midpoint.english                                     991
latest.admissions.act_scores.25th_percentile.english                              991
latest.admissions.act_scores.75th_percentile.english                              991
latest.admissions.act_scores.75th_percentile.math                                 990
latest.admissions.act_scores.25th_percentile.math                                 990
latest.admissions.act_scores.midpoint.math                                        990
latest.student.share_independent_middleincome.48001_75000                         958
latest.student.share_dependent_middleincome.48001_75000                           958
latest.admissions.sat_scores.25th_percentile.math                                 957
latest.admissions.sat_scores.75th_percentile.math                                 957
latest.admissions.sat_scores.midpoint.critical_reading                            957
latest.admissions.sat_scores.midpoint.math                                        957
latest.admissions.sat_scores.25th_percentile.critical_reading                     957
latest.admissions.sat_scores.75th_percentile.critical_reading                     957
latest.admissions.act_scores.75th_percentile.cumulative                           928
latest.admissions.act_scores.midpoint.cumulative                                  928
latest.admissions.act_scores.25th_percentile.cumulative                           928
latest.admissions.sat_scores.average.overall                                      911
latest.admissions.sat_scores.average.by_ope_id                                    883
latest.student.retention_rate.four_year.part_time                                 843
latest.student.share_independent_middleincome.30001_48000                         807
latest.student.share_dependent_middleincome.300001_48000                          807
latest.aid.plus_debt.stafford_this_school.all_inst.median                         792
latest.aid.plus_debt.nostafford_this_school.all_inst.median                       792
latest.aid.portfolio.grad_plus.amount                                             741
latest.aid.portfolio.grad_plus.count                                              741
latest.student.share_firstgeneration_parents.highschool                           702
latest.student.share_firstgeneration_parents.middleschool                         702
latest.aid.plus_debt.stafford_this_school.all_inst.count                          600
latest.aid.plus_debt.nostafford_this_school.all_inst.count                        600
latest.student.share_dependent_lowincome.0_300000                                 592
latest.student.share_independent_lowincome.0_30000                                592
latest.student.retention_rate.four_year.part_time_pooled                          581
latest.aid.plus_debt_suppressed.completers.eval_inst.median                       557
latest.aid.plus_debt_suppressed.completers.eval_inst.median_payment               557
latest.aid.plus_debt.male.eval_inst.median                                        524
latest.aid.plus_debt.not_male.eval_inst.median                                    524
latest.student.demographics.married                                               519
latest.aid.plus_debt.pell.eval_inst.median                                        515
latest.aid.plus_debt.not_pell.eval_inst.median                                    515
latest.aid.plus_debt.completers.eval_inst.median_payment                          513
latest.aid.plus_debt.noncompleters.eval_inst.median                               513
latest.aid.plus_debt.completers.eval_inst.median                                  513
latest.aid.plus_debt.not_male.eval_inst.count                                     443
latest.aid.plus_debt.male.eval_inst.count                                         443
latest.cost.net_price.by_income_level.110001-plus                                 442
latest.cost.net_price.consumer.by_income_level.110001-plus                        442
latest.student.undergrads_non_degree_seeking                                      439
latest.aid.plus_debt.noncompleters.eval_inst.count                                430
latest.aid.plus_debt.completers.eval_inst.count                                   430
latest.aid.plus_debt_suppressed.completers.all_inst.median                        421
latest.aid.plus_debt_suppressed.completers.all_inst.median_payment                421
latest.cost.roomboard.oncampus                                                    421
latest.cost.otherexpense.oncampus                                                 418
latest.aid.plus_debt.not_pell.eval_inst.count                                     409
latest.aid.plus_debt.pell.eval_inst.count                                         409
latest.cost.net_price.by_income_level.75001-110000                                389
latest.cost.net_price.consumer.by_income_level.750001-111000                      389
latest.aid.median_debt.independent_students                                       389
latest.aid.median_debt.dependent_students                                         389
latest.student.enrollment.grad_12_month                                           386
latest.student.grad_students                                                      382
latest.student.retention_rate.cohort.four_year.part_time_pooled                   381
latest.student.retention_rate.pooled_yrs_used.part_time                           381
latest.aid.plus_debt.male.all_inst.median                                         381
latest.aid.plus_debt.not_male.all_inst.median                                     381
latest.aid.plus_debt.pell.all_inst.median                                         377
latest.aid.plus_debt.not_pell.all_inst.median                                     377
latest.aid.plus_debt.noncompleters.all_inst.median                                375
latest.aid.plus_debt.completers.all_inst.median                                   375
latest.aid.plus_debt.completers.all_inst.median_payment                           375
latest.admissions.admission_rate.overall                                          370
latest.school.endowment.begin                                                     367
latest.school.endowment.end                                                       367
latest.admissions.test_requirements                                               362
latest.student.fafsa_sent.4_college_allyrs                                        360
latest.aid.plus_debt.all.eval_inst.median                                         352
latest.cost.net_price.by_income_level.75000-plus                                  348
latest.cost.net_price.consumer.by_income_level.75000-plus                         348
latest.admissions.admission_rate.by_ope_id                                        341
latest.student.fafsa_sent.3_college_allyrs                                        331
latest.student.share_highincome.110001plus                                        322
latest.student.share_highincome.75001_110000                                      320
latest.aid.plus_debt.not_male.all_inst.count                                      310
latest.aid.plus_debt.male.all_inst.count                                          310
latest.aid.plus_debt.not_pell.all_inst.count                                      307
latest.aid.plus_debt.pell.all_inst.count                                          307
latest.aid.plus_debt.completers.all_inst.count                                    301
latest.aid.plus_debt.noncompleters.all_inst.count                                 301
latest.aid.median_debt.number.dependent_students                                  300
latest.aid.median_debt.number.independent_students                                300
latest.cost.net_price.consumer.by_income_level.48001-75000                        299
latest.cost.net_price.by_income_level.48001-75000                                 299
latest.aid.plus_debt.all.eval_inst.count                                          298
latest.student.fafsa_sent.5plus_college_allyrs                                    296
latest.aid.median_debt.income.30001_75000                                         281
latest.cost.net_price.consumer.by_income_level.30001-48000                        279
latest.cost.net_price.by_income_level.30001-48000                                 279
latest.aid.median_debt.income.greater_than_75000                                  278
latest.aid.students_with_any_loan                                                 275
latest.student.share_firstgeneration_parents.somecollege                          272
latest.student.share_firstgeneration                                              272
latest.student.demographics.first_generation                                      272
latest.student.parents_education_level                                            270
latest.student.retention_rate_suppressed.four_year.full_time_pooled               270
latest.student.demographics.share_born_US.home_ZIP                                269
latest.student.demographics.share_professional_degree_age25.home_ZIP              269
latest.student.demographics.share_bachelors_degree_age25.home_ZIP                 269
latest.student.demographics.median_hh_income                                      265
latest.student.demographics.median_hh_income_log                                  265
latest.student.demographics.poverty_rate                                          265
latest.student.demographics.unemployment                                          265
latest.student.demographics.share_white.home_ZIP                                  265
latest.student.demographics.share_black.home_ZIP                                  265
latest.student.demographics.share_asian.home_ZIP                                  265
latest.student.demographics.share_hispanic.home_ZIP                               265
latest.student.share_independent_students                                         264
latest.student.demographics.dependent                                             264
latest.student.demographics.over_23_at_entry                                      264
latest.student.family_income.independent_students                                 263
latest.student.demographics.avg_family_income_independents                        263
latest.student.avg_dependent_income.2014dollars                                   263
latest.student.family_income.dependent_students                                   263
latest.student.avg_independent_income.2014dollars                                 263
latest.student.share_middleincome.48001_75000                                     260
latest.aid.median_debt.female_students                                            255
latest.aid.median_debt.male_students                                              255
latest.aid.median_debt.pell_grant                                                 252
latest.aid.median_debt.no_pell_grant                                              252
latest.aid.cumulative_debt.10th_percentile                                        252
latest.aid.cumulative_debt.90th_percentile                                        252
latest.student.fafsa_sent.2_college_allyrs                                        251
latest.aid.plus_debt.all.all_inst.median                                          249
latest.aid.ftft_pell_grant_rate_pooled                                            247
latest.aid.ftft_federal_loan_rate_pooled                                          247
latest.cost.net_price.consumer.by_income_level.30001-75000                        243
latest.cost.net_price.by_income_level.30001-75000                                 243
latest.aid.median_debt.number.income.greater_than_75000                           242
latest.aid.median_debt.number.income.30001_75000                                  241
latest.aid.median_debt_suppressed.completers.monthly_payments                     239
latest.aid.median_debt_suppressed.completers.overall                              239
latest.aid.portfolio.parent_plus.count                                            236
latest.aid.portfolio.parent_plus.amount                                           236
latest.aid.median_debt.first_generation_students                                  229
latest.aid.median_debt.non_first_generation_students                              229
latest.aid.median_debt.income.0_30000                                             223
latest.aid.median_debt.number.male_students                                       221
latest.aid.median_debt.number.female_students                                     221
latest.student.students_with_pell_grant                                           217
latest.aid.median_debt.noncompleters                                              217
latest.student.share_middleincome.30001_48000                                     215
latest.student.demographics.female_share                                          215
latest.cost.net_price.consumer.by_income_level.0-30000                            213
latest.cost.net_price.by_income_level.0-30000                                     213
latest.aid.median_debt.completers.overall                                         212
latest.aid.median_debt.completers.monthly_payments                                212
latest.aid.cumulative_debt.75th_percentile                                        211
latest.aid.cumulative_debt.25th_percentile                                        211
latest.aid.plus_debt.all.all_inst.count                                           210
latest.aid.median_debt.number.pell_grant                                          208
latest.aid.median_debt.number.no_pell_grant                                       208
latest.aid.median_debt.number.non_first_generation_students                       202
latest.aid.median_debt.number.first_generation_students                           202
latest.aid.median_debt.number.income.0_30000                                      197
latest.aid.median_debt.number.completers                                          196
latest.aid.median_debt.number.noncompleters                                       196
latest.cost.net_price.consumer.by_income_level.0-48000                            195
latest.cost.net_price.by_income_level.0-48000                                     195
latest.aid.median_debt_suppressed.overall                                         189
latest.cost.attendance.academic_year                                              188
latest.cost.avg_net_price.overall                                                 185
latest.cost.avg_net_price                                                         185
latest.cost.title_iv.by_income_level.110001-plus                                  182
latest.cost.title_iv.all                                                          182
latest.cost.title_iv.by_income_level.0-30000                                      182
latest.cost.title_iv.by_income_level.30001-48000                                  182
latest.cost.title_iv.by_income_level.48001-75000                                  182
latest.cost.title_iv.by_income_level.75001-110000                                 182
latest.aid.loan_principal                                                         173
latest.student.retention_rate.overall.full_time                                   171
latest.aid.cumulative_debt.number                                                 167
latest.cost.otherexpense.offcampus                                                163
latest.cost.roomboard.offcampus                                                   163
latest.cost.otherexpense.withfamily                                               159
latest.school.ft_faculty_rate                                                     158
latest.student.share_lowincome.0_30000                                            157
latest.aid.median_debt.number.overall                                             157
latest.student.retention_rate.four_year.full_time                                 154
latest.aid.ftft_pell_grant_rate                                                   142
latest.aid.ftft_federal_loan_rate                                                 142
latest.aid.plus_loan_pct_upper                                                    132
latest.aid.plus_loan_pct_lower                                                    132
latest.student.share_first.time_full.time                                         132
latest.aid.plus_loan_pct_lower_pooled                                             130
latest.aid.plus_loan_pct_upper_pooled                                             130
latest.cost.booksupply                                                            127
latest.student.retention_rate.four_year.full_time_pooled                          118
latest.aid.portfolio.direct_loans.amount                                          110
latest.aid.portfolio.direct_loans.count                                           110
latest.cost.tuition.in_state                                                      100
latest.cost.tuition.out_of_state                                                  100
latest.student.demographics.median_family_income                                   90
latest.student.demographics.age_entry                                              90
latest.student.valid_dependency_status                                             90
latest.student.demographics.avg_family_income                                      90
latest.student.FAFSA_applications                                                  90
latest.student.family_income.overall                                               90
latest.student.retention_rate.pooled_yrs_used.full_time                            87
latest.student.retention_rate.cohort.four_year.full_time_pooled                    87
latest.school.open_admissions_policy                                               84
latest.admissions.admission_rate.consumer_rate                                     84
latest.completion.consumer_rate                                                    64
latest.student.share_25_older                                                      59

In [15]:
df_latest.to_csv('../data/interim/latest_all_clean.csv')